* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f4f8;
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding: 20px;
  text-align: center;
}

div {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 28px;
  margin-bottom: 25px;
  color: #333;
}

a {
  color: #4a90e2;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

label {
  font-size: 14px;
  color: #555;
}

input[type='text'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4a90e2;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #357abd;
}

#mensagem {
  margin: 10px;
  color: red;
}
